<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->


    <main class="errorMain">
        <div class="errorMain__title">
            <h1>Lo sentimos algo salio mal</h1>
        </div>
        <div class="errorMain__button">
            <a href="/" class="fs-2 btn btn-info">Volver</a>
        </div>
    </main>
 
	<script src="js/main.js"></script>

</body>	
</html>