<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Registrate'}) %>
  <body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->

    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Registrate</h2>
        </div>
      </div>
      <div class="col-12">
        <form action="/register" method="POST">
          <div class="product-detail">
            <div class="col-12 col-md-6">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Ingresa tu email"
                class="form-input"
              />

              <% if(errors.email) {%>

              <p class="validationMessage" style="font-size: 12px">
                <i
                  class="validationMessage--i fas fa-exclamation-triangle"
                  style="color: tomato"
                ></i
                ><%=errors.email.msg%>
              </p>

              <% }%>
            </div>
            <div class="col-12 col-md-6">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Ingresa tu cotraseña"
                class="form-input"
              />
            </div>

            <div class="col-12">
              <button type="submit" class="buy-now-button">Registrate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /todos los productos -->

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
  </body>
</html>
